.editor-post-title {
    padding: 0;
    background: $color-accent-primary;

    &__block {
        .editor-post-title__input {
            text-align: center;
            color: #fff;
            font-family: $font-stack-headings;

            &:focus {
                color: #fff;
            }
        }
    }
}