#wpadminbar {
    display: none!important;
}
html {
    margin: 0!important;
}

html.wf-loading * {
    color: transparent !important;
}

* {
    box-sizing: border-box;
}

.cf:before,
.cf:after,
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after,
.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf,
.clearfix {
    *zoom: 1;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    height: 100%;
    width: 100%;
}

body {
    @include color(background-color, 'background');
    @include color(color, 'body');

    &.modal-open {
        overflow: hidden;
    }
}

.slick-arrow {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: 50%;
    padding: 0.5em;
    transform: translateY(-50%);

    svg {
        @extend %transition;
    }
    &.slider-prev {
        left: 0;

        &:hover {
            svg {
                transform: translateX(-2px);
            }
        }
    }
    &.slider-next {
        right: 0;

        &:hover {
            svg {
                transform: translateX(2px);
            }
        }
    }
    &.bottom {
        border-radius: 100%;
        border: 2px solid var(--color-accent2);
        top: auto;
        bottom: -4rem;
        padding: 0;
        width: 2.625rem;
        height: 2.625rem;

        &.slider-prev {
            left: auto;
            right: calc(50% + 0.5rem);
        }
        &.slider-next {
            left: calc(50% + 0.5rem);
            right: auto;
        }
    }
}

.slick-arrow {
    @extend %transition;
}

.slick-slider {
    .slick-dots {
        position: absolute;
        bottom: -1rem;
        width: 100%;
        left: 0;
    }
}

.slick-control {
    display: block;

    svg {
        display: block;
    }
}

.slick-dots {
    margin: 0 0.25rem;
    text-align: center;
    display: flex;
    align-items: center;

    li {
        padding: 0;
        margin: 0 0.375rem;
        display: inline-block;

        &:only-child {
            display: none;
        }
        &:before {
            display: none;
        }
        button {
            display: block;
            min-width: 0;
            color: transparent;
            border-radius: 100%;
            padding: 0;
            width: 0.75rem;
            height: 0.75rem;
            @include color(background-color, 'body');
            opacity: 0.2;
            border: none;
            margin: 0;
            font-size: 0;

            &:before,
            &:after {
                display: none;
            }
        }
        &.slick-active {
            button {
                @include color(background-color, 'accent-primary');
                opacity: 1;
            }
        }
    }
}

// this is here so it loads above the fold and doesn't flash up
.gallery-modal,
.single-modal,
.custom-modal {
    position: fixed;
    visibility: hidden;
    z-index: 200;
    top: 0;
    transform: translateY(-150%);
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;

    &.active,
    &.forced {
        visibility: visible;
        transform: translateY(0);
    }
}

// this is here so it loads above the fold and doesn't flash up
.rooms-guests-select {
    position: absolute;
    top: calc(100% + 0.5rem);
    width: 100%;
    min-width: 20rem;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.slick-slide:focus {
    outline: 0;
}

.stick-in {
    @supports (position: sticky) {
        position: -webkit-sticky;
        position: sticky;
    }

    @include breakpoint(XS) {
        position: relative;
        top: auto;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;

    &.centered, &.justify-center {
        justify-content: center;

        .button {
            margin: 0.5rem;
        }
    }
    &.justify-right {
        .button {
            margin: 0.5rem 0rem 0.5rem 1rem;
        }
    }
    .button {
        margin: 0.5rem 1rem 0.5rem 0;
        flex-shrink: 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

/* IE AOS fix */
@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop,
    [data-aos^=fade][data-aos^=fade],[data-aos^=zoom][data-aos^=zoom]{
        opacity: 1;
    }
}

.list-reset {
    > ul {
        margin: 0;
        padding: 0;
    
        li {
            margin: 0;
            padding: 0;
    
            &:before {
                display: none;
            }
        }
    }
}

ul.list-reset {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;

        &:before {
            display: none;
        }
    }
}

.screenreader-link {
    position: fixed;
    left: 2rem;
    z-index: 100;
    top: -100%;

    &:focus {
        top: 0px;
    }
}

// here for cumulative shift layout
.page-bg-img,
.block-bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    img,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include color(background-color, 'body');
        mix-blend-mode: multiply;
        opacity: 0.4;
    }
    &.no-overlay {
        &:after {
            display: none;
        }
    }
}

.block-bg-img {
    position: absolute;
    
    &:after {
        position: absolute;
    }
}

header.content {
    max-width: 42rem;
}

header.content.text-center {
    margin: auto;
}

p.subtitle {
    @include size-L;
    @include color(color, 'accent-primary');
    font-weight: 400;
}

.text-image.theme--image {
    :not(.bg-images-wrapper) {
        z-index: 3;
    }
}

.theme--image {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        opacity: 0.45;
        z-index: 1;
        @include color(background-color, 'background');
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    }
}

// .bg-images-wrapper {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $color-body;
//     img, .bg-images {
//         width: 100%;
//         height: 100%;
//         img {
//             opacity: 0.5;
//         }
//         &::after {
//             content: "";
//             position: absolute;
//             left: 0;
//             bottom: 0;
//             height: 20%;
//             width: 100%;
//             background: linear-gradient(0deg, #0F0A0A 0%, rgba(15, 10, 10, 0) 100%);
//             z-index: 2;
//         }
//         &::before {
//             content: "";
//             position: absolute;
//             left: 0;
//             top: 0;
//             height: 20%;
//             width: 100%;
//             background: linear-gradient(180deg, #0F0A0A 0%, rgba(15, 10, 10, 0) 100%);
//             z-index: 2;
//         }
//     }
// }

.smoke-top {
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 20%;
        width: 100%;
        background: linear-gradient(180deg, #0F0A0A 0%, rgba(15, 10, 10, 0) 100%);
    }
}

.smoke-bottom {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 20%;
        width: 100%;
        background: linear-gradient(0deg, #0F0A0A 0%, rgba(15, 10, 10, 0) 100%);
        z-index: 2;
    }
}

.in-page-nav {
    a {
        margin: 0 1rem;
        font-weight: 800;
        border-bottom: 2px solid black;
        @include color(border-color, 'background');
    }
    a.active {
        border-bottom: 2px solid black;
        @include color(border-color, 'accent-primary');
    }
}

.theme--image {
	position: relative;
}

.cta-wrapper .cta {
	position: unset;
}