@media print {
    html.cssanimations .fade-in, html.cssanimations .fade-in-up, html.cssanimations .fade-in-down, html.cssanimations .fade-in-left, html.cssanimations .fade-in-right {
        opacity: 1 !important;
    }

    [data-aos^=fade] {
        opacity: 1 !important;
        transform: none !important;
    }
}