@import "../gutenberg_block";


.contact-form {
    padding: 0;
    position: relative;
    > h3 {
        @include color(color, 'accent-primary');
    }
    .contact-form {
        max-width: 42rem;
        margin: auto;
    }
    .contact-info {
        position: absolute;
        left: 80%;
        height: 100%;
        top: 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include breakpoint(M) {
            position: initial;
            max-width: 42rem;
            margin: auto;
        }
        h2 {
            @include color(color, 'accent-primary');
            font-weight: 800;
        }
        .contact-details {
            top: 10rem;
            position: sticky;
            @include color(background-color, 'accent-emphasis');
            padding: 2rem;
            a {
                @include color(color, 'body');
                &:hover {
                    @include color(color, 'accent-primary');
                }
            }
            p {
                margin-bottom: 0.5rem;
            }
        }
    }
    form {
        > p  {
            label {
                font-weight: 800;
            }
            .wpcf7-form-control-wrap {
                display: block;
                margin: 2rem 0;
                input::placeholder, textarea::placeholder {
                    color: $color-body;
                    opacity: 1;
                    font-weight: 800;
                }
            }
            .wpcf7-checkbox {
                display: flex;
                flex-direction: column;
                margin-bottom: -1.5rem;
                margin-top: -1.5rem;
                .wpcf7-list-item {
                    position: relative;
                    margin: 0%;
                    height: 3rem;
                    > label {
                        .wpcf7-list-item-label {
                            margin-left: 3rem;
                            font-weight: 800;
                        }
                    }
                    input[type="checkbox"] {
                        content: "";
                        position: absolute;
                        width: 2rem;
                        height: 2rem;
                        left: 0;
                        top: 0;
                        background: white;
                        border-radius: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 2rem;
                        height: 2rem;
                        left: 0;
                        top: 0;
                        background: white;
                    }
                }
            }
        }
    }
}