//Primary Button Styling, which is default

.button,
button,
input[type="submit"],
input[type="button"] {

    //Primary button default styling
    @include color(color, 'accent-reverse');
    @include color(background-color, 'accent-primary');

    border: 1px solid;
    @include color(border-color, 'accent-primary');

    //Icon styling
    svg {
        @include color(color, 'accent-reverse');
    }

    //Hide pseudo element of other buttons
    &:after {
        display: none;
    }

    //Hover state
    &:hover,
    &.active {
        @include color(color, 'accent-reverse');
        @include color(background-color, 'accent-emphasis');
        @include color(border-color, 'accent-emphasis');

        svg {
            @include color(color, 'accent-reverse');
        }
    }

    &.white {
        @include color(background-color, 'accent-reverse');
        @include color(border-color, 'accent-reverse');
        @include color(color, 'body');

        svg {
            @include color(color, 'accent-body');
        }
        &:hover {
            @include color(background-color, 'accent-emphasis');
            @include color(border-color, 'accent-emphasis');
            @include color(color, 'body');
        }
    }

    &.disabled {
        @include color(background-color, 'body-25');
        border-color: transparent;
        pointer-events: none;

        svg {
            @include color(color, 'body-25');
        }
    }
}

.theme--dark {
    .button, button,
    input[type="submit"],
    input[type="button"] {
        &.white {
            @include color(background-color, 'accent-reverse');
            @include color(border-color, 'accent-reverse');
            @include color(color, 'background');
        }
    }
}

.theme--image {
    .button, button,
    input[type="submit"],
    input[type="button"] {
        &.white {
            @include color(color, 'body');
            &:hover {    
                @include color(border-color, 'accent-emphasis');
                @include color(background-color, 'accent-emphasis');
            }
        }
    }
}

.btn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    
  //   @media(min-width: 400px) {
  //     display: inline-block;
  //     margin-right: 2.5em;
    
  //     &:nth-of-type(even) {
  //       margin-right: 0;
  //     }
  //   }
    
    @media(min-width: 600px) {
        
      margin: 0 1em 2em;
    
  //     &:nth-of-type(even) {
  //       margin-right: 2.5em;
  //     }
      
  //     &:nth-of-type(5) {
  //       margin-right: 0;
  //     }
      
    }
    
    &:hover { text-decoration: none; }
    
  }
  