//Secondary Button Styling

.button,
button,
input[type="button"] {
    &.secondary {

        //Secondary button default styling
        @include color(color, 'body');
        background-color: transparent;
        border: solid 1px;
        @include color(border-color, 'body');

        svg {
            @include color(color, 'body');
        }
        //Hover state
        &:hover,
        &.active {
            @include color(color, 'accent-secondary');
            @include color(background-color, 'accent-emphasis');
            @include color(border-color, 'accent-emphasis');
    
            svg {
                @include color(color, 'accent-emphasis');
            }
        }
    }

    &.disabled {
        @include color(color, 'body-25');
        @include color(border-color, 'body-25');
        background: transparent;
        pointer-events: none;

        svg {
            @include color(color, 'body-25');
        }
    }
}
