//underlined Button Styling

.button.underlined,
button.underlined,
input[type="button"].underlined {

    @include color(color, 'body');
    background: none;
    border: 1px solid transparent;
    border-bottom: 1px solid;
    @include color(border-bottom-color, 'body');

    svg {
        @include color(color, 'body');
    }
    
    //Hover state
    &:hover,
    &.active {
        transform: none;

        @include color(color, 'accent-emphasis');
        @include color(border-bottom-color, 'accent-emphasis');

        //Icons on Hover
        svg {
            @include color(color, 'accent-emphasis');
        }

        //Underline on Hover
        &:after {
            opacity: 1;
            transform: scaleX(1);
        }
    }

    // no underline or padding
    &.stripped {
        padding-left: 0 !important;
        padding-right: 0 !important;

        &:before {
            display: none;
        }
        &.no-hover {
            &:after {
                display: none;
            }
        }
    }

    &.disabled {
        @include color(color, 'body-25');
        @include color(border-bottom-color, 'body-25');
        pointer-events: none;

        svg {
            @include color(color, 'body-25');
        }
    }
}

.theme--dark {
    .button.underlined.theme--default,
    button.underlined.theme--default,
    input[type="button"].underlined.theme--default {
        @include color(color, 'background');
        @include color(border-bottom-color, 'background');
        &:hover {
            transform: none;

            @include color(color, 'accent-emphasis');
            @include color(border-bottom-color, 'accent-emphasis');
        }
    }
}