@import "../gutenberg_block";

.text-image {
    display: flex;
    justify-content: center;
    margin-right: 0;
    max-width: 114rem;
    .content {
        width: 50%;
        padding-right: 2rem;
        max-width: 42rem;
        margin-right: auto;
    }
    .images-wrapper {
        width: 100%;
        max-width: 54rem;
        height: 100%;
        position: relative;
        .images {
            width: 100%;
            height: 100%;
        }
        img {
            margin-right: -10%;
            position: absolute;
            left: 0;
            height: 0;
            width: 110%;
            height: 100%;
            clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        }
    }
    @include breakpoint(M-up) {
        &.flex-row-reverse {
            margin-left: 0;
            .content {
                padding-right: 2rem;
                margin-right: 0;
                margin-left: 0;
            }
            .images-wrapper {
                margin-left:  0rem;
                margin-right: 4rem;
                .images {
                    img {
                        margin-left: -10%;
                        margin-right: unset;
                    }
                }
            }
        }
        &.landscape {
            .images-wrapper {
                width: calc(65% - 4rem);
                height: 32rem;
            }
            .content {
                width: 40%;
            }
            &.flex-row {
                padding-right: 0;
            }
            &.flex-row-reverse {
                padding-left: 0;
            }
        }
    }
    &.portrait {
        .images-wrapper {
            height: 50rem;
            z-index: 3;
        }
    }
    &.overlapping {
        .images-wrapper {
            margin-top: -12rem;
            height: 60rem;
            z-index: 3;
            @include breakpoint(M) {
                margin-bottom: 2rem;
                margin-top: 4rem!important;
            }
        }
    }
    @include breakpoint(M) {
        flex-direction: column;
        margin: 0;
        .content {
            width: 100%;
            padding: 0;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            // text-align: center;
        }
        .images-wrapper {
            position: relative;
            margin: 0;
            padding: 0;
            margin-top: 2rem;
            width: 100%;
            height: 20rem;
            img {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
        &.overlapping, &.portrait {
            flex-direction: column-reverse;
            .images-wrapper {
                margin-bottom: 2rem;
            }
        }
    }
    .slick-track, .slick-list {
        height: 100%;
        width: 100%;
    }
    .slick-dots {
        bottom: 0.5rem;
        left: 1rem;
    }
    &.theme--image, &.theme--video {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .slick-dots {
        width: 50%;
    }
}