// body {
//     margin-top: 4rem;
// }

header.header-1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 10;
    display: flex;
    @extend %nav-transition;
    .wrapper {
        display: flex;
        width: 100%;
        max-width: 90rem;
        margin-left: auto;
        margin-right: auto;
    }
    .header-left {
        float: left;
        width: 9rem;
    }
    .logo {
        p {
            @extend %transition;
            white-space: nowrap;
        }
        &:hover {
            p {
                @include color(color, 'body-50');
            }
        }
        svg {
            height: 3rem;
        }
        &.home-page {
            svg {
                color: transparent;
            }
        }
    }
    .header-right {
        float: right;
        width: calc(100% - 9rem);
        display: flex;
        flex-direction: row;
        .button.primary {
            margin: 0 1rem;
        }
        ul  {
            display: flex;
            flex-direction: row;
            li {
                margin: 0 1rem;
                a {
                @include color(color, 'body');
                    &:hover {
                        @include color(color, 'body-50')
                    }
               }
            }
        }
    }
    &.scrolled {
        .sub-menu {
            @include color(background-color, 'accent-primary');
        }
        .logo {
            &.home-page {
                svg {
                    @include color(color, 'body')
                }
            }
        }
    }
    &.hidden {
        top: -100%!important;
        .sub-menu {
            top: -100%;
        }
    }
    &.no-background {
        background-color: transparent;
    }
    .sub-menu {
        position: fixed;
        margin: 0;
        height: 0;
        width: 100%;
        top: 4rem;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 10;
        @extend %nav-transition;
        li {
            margin: 1rem 1rem;
        }
        &.active {
            height: 3rem;
        }
    }
}

.nav-toggle {
    width: 2.3rem;
    height: 2rem;
    margin-right: 2rem;
    position: relative;
    span {
        display: block;
        width: 2.3rem;
        height: 5px;
        @include color(background-color, 'body');
        position: absolute;
        @extend %nav-transition;
    }
    span:nth-child(1n) {
        left: 50%;
        top: 0%;
        transform:translate(-50%, 0%);
    }
    span:nth-child(2n) {
        left: 50%;
        top: 50%;
        transform:translate(-50%, -50%);
    }
    span:nth-child(3n) {
        left: 50%;
        top: 100%;
        transform:translate(-50%, -100%);
    }
    &.active {
        span:nth-child(1n) {
            left: 50%;
            top: 50%;
            transform:translate(-50%, -50%)rotate(-45deg);
        }
        span:nth-child(2n) {
            left: 150%;
            opacity: 0;
            transform:translate(-50%, -50%)rotate(0deg);
            width: 1rem;
        }
        span:nth-child(3n) {
            left: 50%;
            top: 50%;
            transform:translate(-50%, -50%) rotate(45deg);
        }
    }
}

.overlay-menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    @include color(background-color, 'background');
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %nav-transition;
    &.active {
        top: 0;
    }
    .logo {
        position: absolute;
        left: 2rem;
        top: 0.9    rem;
        width: 12rem;

    }
    .menu-wrapper {
        width: 100%;
        max-width: 30rem;
        max-height: 30rem;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        li {
            margin-bottom: 1rem;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: transparent;
            padding-bottom: 0.5rem;
            @extend %nav-transition;
            a {
                @include size-XL;
            }
            &.active {
                padding-top: 0.5rem;
                @include color(border-color, 'accent-primary')
            }
        }
        .sub-menu {
            display: none;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            li {
                margin: 0.5rem 1rem;
                a {
                    @include size-L;
                }
            }
        }
    }
    .nav-toggle {
        position: absolute;
        right: 0;
        top: 1rem;
    }
}