footer.footer-1 {
    padding-bottom: 3rem;
    a {
        @include color(color, 'body');
        &:hover {
            @include color(color, 'accent-primary-lighter');
        }
    }
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        .footer-menu {
            width: 15rem;
            padding-right: 2rem;
            padding-top: 4rem;
            white-space: nowrap;
            &:empty {
                display: none;
            }
        }
        .sub-menu {
            a {
                font-weight: 300;
            }
        }
    }
    .social-links {
        width: 100%;
        margin-top: 3rem;
    }
    .contact-details {
        h2 {
            font-weight: 800;
            margin-top: 0;
        }
        p {
            margin-bottom: 0.1rem;
        }
    }
    .footer-bottom {
        // margin-top: 2rem;
        width: 100%;
        @include breakpoint(S) {
            flex-direction: column;
            .left {
                margin-bottom: 0.5rem;
            }
        }
        ul {
            display: flex;
            li:first-child {
                padding: 0;
                a {
                    font-weight: 700;
                }
            }
            li {
                padding-left: 2rem;
                a {
                    font-weight: 300;
                }
            }
        }
        a, p, div {
            @include color(color, 'body-25');
            &:hover {
                @include color(color, 'body');
            }
        }
        .right {
            white-space: nowrap ;
        }
    }
}