.page-container {
    @extend %transition;
    
    > {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        ol,
        blockquote {
            max-width: 52rem;
            margin-left: auto;
            margin-right: auto;

            @include breakpoint(M) {
                max-width: calc(100vw - 3rem);
            }
        }
    }
    // clear AOS on first 2 gutenberg blocks
    .row {
        &:nth-child(1),
        &:nth-child(2) {
            [data-aos^=fade][data-aos^=fade] {
                opacity: 1;
                transform: none;
            }
        }
    }
}