@import "../gutenberg_block";


.full-width-cta {
    max-width: unset;
    .cta-wrapper {
        position: relative;
        z-index: 2;
        max-width: 62rem;
        padding: 6rem 1rem;
        margin: auto;
    }
}