    h1,
.h1 {
    @include size-3XL;

    .subtitle {
        @include size-L;
    }
}

h2,
.h2 {
    @include size-2XL;

    .subtitle {
        @include size-L;
    }
}

h3,
.h3 {
    @include size-XL;

    .subtitle {
        @include size-M;
    }
}

h4,
.h4 {
    @include size-L;

    .subtitle {
        @include size-XS;
    }
}

h5,
.h5,
h6,
.h6 {
    @include size-M;

    .subtitle {
        @include size-XS;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font-stack-headings;
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: block;
    @include color(color, 'body');
    font-weight: 700;

    &.no-margin {
        margin-bottom: 0;
    }
    &.less-margin {
        margin-bottom: 0.5rem;
    }
    &.more-margin {
        margin-bottom: 2.5rem;
    }
    .subtitle {
        font-weight: 400;
        margin-top: 0.25rem;
        display: block;
    }
    strong {
        text-transform: none;
        @include color(color, 'accent-primary');
    }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    .subtitle {
        margin-top: 0;
    }
}