p {
    @include size-M;
    font-family: $font-stack-primary;
    margin-bottom: 1rem;
    @include color(color, 'body');
    font-weight: 400;

    &.no-margin {
        margin-bottom: 0;
    }
    &.less-margin {
        margin-bottom: 0.5rem;
    }
    &.quote {
        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
    }
}

em,
strong,
b {
    font-weight: 700;
    @include color(color, 'body');
}

.bold {
    font-weight: 700;
}