//Define type styles that can be used as utility classes or mixins elsewhere.

@mixin heading-1 {
    font-family: $font-stack-headings;
    font-weight: 700;
    @include size-3XL;
}

@mixin heading-2 {
    font-family: $font-stack-headings;
    font-weight: 700;
    @include size-2XL;
}

@mixin heading-3 {
    font-family: $font-stack-headings;
    font-weight: 700;
    @include size-2XL;
}

@mixin heading-4 {
    font-family: $font-stack-headings;
    font-weight: 700;
    @include size-XL;
}

@mixin heading-5 {
    font-family: $font-stack-headings;
    font-weight: 700;
    @include size-L;
}

@mixin subtitle-1 {
    font-family: $font-stack-headings;
    font-weight: 400;
    @include size-L;
}

@mixin subtitle-2 {
    font-family: $font-stack-headings;
    font-weight: 400;
    @include size-M;
}

@mixin body-L {
    font-family: $font-stack-primary;
    font-weight: 400;
    @include size-L;
}

@mixin body-M {
    font-family: $font-stack-primary;
    font-weight: 400;
    @include size-M;
}

@mixin body-S {
    font-family: $font-stack-primary;
    font-weight: 400;
    @include size-S;
}

@mixin body-XS {
    font-family: $font-stack-primary;
    font-weight: 400;
    @include size-XS;
}

@mixin overline {
    font-family: $font-stack-primary;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    @include size-XS;
}

@mixin button-text {
    font-family: $font-stack-primary;
    font-weight: 400;
    @include size-M;
}

@mixin label {
    font-family: $font-stack-headings;
    font-weight: 700;
    @include size-XS;
}


//Define utility classes here (TODO: merge _headings.scss into this section)

.subtitle-1 {
    @include subtitle-1;
}

.subtitle-2 {
    @include subtitle-2;
}

.body-l {
    @include body-L;
}

.body-m {
    @include body-M;
}

.body-s {
    @include body-S;
}

.body-xs {
    @include body-XS;
}

.overline {
    @include overline;
}

.button-text {
    @include button-text;
}

.label {
    @include label;
}