@import "../gutenberg_block";

.slider-gallery {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 46rem;
    max-width: unset;
    position: relative;
    .js-gallery-slider {
        height: 100%;
        height: 46rem;
        img {
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
        }
        .slick-list {
            height: 100%;
            .slick-track {
                height: 100%;
            }
        }
        .slick-track, .slick-list {
            height: 100%;
            width: 100%;
        }
        .slick-dots {
            width: auto;
            left: 6rem;
            bottom: 1.7rem;
            z-index: 5;
        }
        .slick-arrow {
            margin: 0;
            padding: 0rem;
            display: flex;
            top: unset;
            left: 1rem;
            bottom: 1rem;
            transform: translate(0);
            z-index: 5;
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
        .slick-next {
            transform: translateX(100%);
        }
        .caption {
            position: absolute;
            left: 1.7rem;
            bottom: 3.5rem;
            z-index: 5;
            font-weight: 800;
        }
    }
    .js-modal-gallery-counter {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        z-index: 5;
    }
}