@import "../gutenberg_block";

.cta-blocks {
    margin: 0;
    padding: 0;
    margin-left: 0;
    padding-left: 0;
    display: contents;
    .cta-blocks-wrapper {
        width: calc(100%);
        height: auto;
        .cta-wrapper {
            margin: 0.5rem -1rem;
            position: relative;
            width: calc(50%);
            min-height: 15rem;
            min-width: 20rem;
            @include breakpoint(M) {
                width: 100%;
            }
            .cta {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                margin-bottom: 5.3rem;
                .h2 {
                    max-width: 24rem;
                    margin-right: auto;
                    margin-left: auto;
                    position: relative;
                    z-index: 2;
                    padding: 2rem;
                    padding-bottom: 0;
                    padding-top: 3rem;
                }
                .button {
                    position: absolute;
                    left: 50%;
                    bottom: 1.5rem;
                    transform: translateX(-50%);
                    z-index: 2;
                }
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
            }
        }
    }
    .button.disabled {
        @include color(background-color, accent-primary-lighter);
        @include color(color, background);
        opacity: 0.8;
    }
}