//Sub colour themes for card elements – these work by swapping around parent theme colours where necessary

.theme__card {

    // Standard card colour (e.g. standard background CTA blocks)
    &--standard {
        --card-color-background: var(--color-background-alt);
    }

    // Accent card colour (e.g. accent primary background CTA blocks)
    &--accent {
        --card-color-body: var(--color-accent-reverse);
        --card-color-background: var(--color-accent-primary);
        --card-color-accent-primary: var(--color-accent-reverse-alt);
        --card-color-accent-reverse: var(--color-accent-primary);
    }
}

 // Redefine CSS variables for elements within cards
[class*="theme__card"] > * {
    --color-body: var(--card-color-body);
    --color-background: var(--card-color-background);
    --color-accent-primary: var(--card-color-accent-primary);
    --color-accent-reverse: var(--card-color-accent-reverse);
}