#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
    background-image: url(/wp-content/themes/up-core-gutenberg/assets/img/up-dashboard-logo.svg);
    background-position: center;
    color:rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    opacity: 0.7;
}
#wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
    background-position: 0 0;
}