//This is the CSS for the Gutenberg blocks in the back end only. Please note if you add a SCSS file here, please also add it to blocks.scss
//This basically has all the sites' CSS within the block classes to only affect the blocks, not the whole of WordPress!

@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/animations";
@import "utilities/placeholders";


@import "base/colors/_colors-core";
@import "base/colors/_color-themes";
.acf-block-preview .block {
    //Variables, Functions, Mixins, etc
    @import "base/typography/_typography-core";
    @import "utilities/utilities";
    @import "base/buttons/_buttons-core";
    @import "base/forms/_forms-core";
    @import "base/grid";
    @import "base/base-styles";
    @import "layout/page";
    
    @import "../../components/blocks/banner-regular/banner-regular.scss";
    @import "../../components/blocks/banner-with-form/banner-with-form.scss";
    @import "../../components/blocks/text-image/text-image.scss";
    @import "../../components/blocks/slider-gallery/slider-gallery.scss";
    @import "../../components/blocks/gallery/gallery.scss";
    @import "../../components/blocks/contact-form/contact-form.scss";
    @import "../../components/blocks/full-width-cta/full-width-cta.scss";
    
    
    .slider-gallery {
        .caption {
            display: none
        }
    }
}

@import "blocks-editor/editor"; 
@import "blocks-editor/post_title";

.block-editor-block-list__layout {   
    @import "blocks-editor/text_elements";
}