//Configure your project's core colour palette here
// ================================================

$color-body: #0B181E;
$color-background: #f8f8ff;
$color-background-alt: #f8f8ff;
$color-accent-primary: #FFB703;
$color-accent-alternate: #FFB703;
$color-accent-inverse: #023047;
$color-accent-inverse-alternate: #8ECAE6;
$color-accent-emphasis: #8ECAE6;

$color-success: #4CC27B;
$color-warning: #EEBE43;
$color-error: #DE3C4B;

// Define your standard colour variables here
// ================================================

$color-vars: (
  body: $color-body,
  body-75: rgba($color-body, 0.75),
  body-50: rgba($color-body, 0.50),
  body-25: rgba($color-body, 0.25),
  body-10: rgba($color-body, 0.10),
  body-05: rgba($color-body, 0.05),
  body-01: rgba($color-body, 0.01),

  background: $color-background,
  background-75: rgba($color-background, 0.75),
  background-50: rgba($color-background, 0.5),
  background-25: rgba($color-background, 0.25),
  background-10: rgba($color-background, 0.10),
  background-05: rgba($color-background, 0.05),
  background-01: rgba($color-background, 0.01),

  background-alt: $color-background-alt,

  accent-primary: $color-accent-primary,
  accent-primary-lightest:      mix($color-accent-primary, #FFF, 25%),
  accent-primary-lighter:       mix($color-accent-primary, #FFF, 50%),
  accent-primary-light:         mix($color-accent-primary, #FFF, 87.5%),
  accent-primary-dark:          mix($color-accent-primary, #000, 87.5%),
  accent-primary-darker:        mix($color-accent-primary, #000, 50%),
  accent-primary-darkest:       mix($color-accent-primary, #000, 25%),

  accent-alternate: $color-accent-alternate,
  accent-alternate-lightest:    mix($color-accent-alternate, #FFF, 25%),
  accent-alternate-lighter:     mix($color-accent-alternate, #FFF, 50%),
  accent-alternate-light:       mix($color-accent-alternate, #FFF, 87.5%),
  accent-alternate-dark:        mix($color-accent-alternate, #000, 87.5%),
  accent-alternate-darker:      mix($color-accent-alternate, #000, 50%),
  accent-alternate-darkest:     mix($color-accent-alternate, #000, 25%),

  accent-inverse: $color-accent-inverse,
  accent-inverse-lightest:    mix($color-accent-inverse, #FFF, 25%),
  accent-inverse-lighter:     mix($color-accent-inverse, #FFF, 50%),
  accent-inverse-light:       mix($color-accent-inverse, #FFF, 87.5%),
  accent-inverse-dark:        mix($color-accent-inverse, #000, 87.5%),
  accent-inverse-darker:      mix($color-accent-inverse, #000, 50%),
  accent-inverse-darkest:     mix($color-accent-inverse, #000, 25%),

  accent-inverse-alternate: $color-accent-inverse-alternate,
  accent-inverse-alternate-lightest:    mix($color-accent-inverse-alternate, #FFF, 25%),
  accent-inverse-alternate-lighter:     mix($color-accent-inverse-alternate, #FFF, 50%),
  accent-inverse-alternate-light:       mix($color-accent-inverse-alternate, #FFF, 87.5%),
  accent-inverse-alternate-dark:        mix($color-accent-inverse-alternate, #000, 87.5%),
  accent-inverse-alternate-darker:      mix($color-accent-inverse-alternate, #000, 50%),
  accent-inverse-alternate-darkest:     mix($color-accent-inverse-alternate, #000, 25%),

  accent-emphasis: $color-accent-emphasis,
  accent-emphasis-lightest:    mix($color-accent-emphasis, #FFF, 25%),
  accent-emphasis-lighter:     mix($color-accent-emphasis, #FFF, 50%),
  accent-emphasis-light:       mix($color-accent-emphasis, #FFF, 87.5%),
  accent-emphasis-dark:        mix($color-accent-emphasis, #000, 87.5%),
  accent-emphasis-darker:      mix($color-accent-emphasis, #000, 50%),
  accent-emphasis-darkest:     mix($color-accent-emphasis, #000, 25%),

  accent-reverse: $color-background,
  accent-reverse-alt: $color-body,

  success: $color-success,
  success-lightest:     mix($color-success, #FFF, 25%),
  success-lighter:      mix($color-success, #FFF, 50%),
  success-light:        mix($color-success, #FFF, 87.5%),
  success-dark:         mix($color-success, #000, 87.5%),
  success-darker:       mix($color-success, #000, 50%),
  success-darkest:      mix($color-success, #000, 25%),

  warning: $color-warning,
  warning-lightest:     mix($color-warning, #FFF, 25%),
  warning-lighter:      mix($color-warning, #FFF, 50%),
  warning-light:        mix($color-warning, #FFF, 87.5%),
  warning-dark:         mix($color-warning, #000, 87.5%),
  warning-darker:       mix($color-warning, #000, 50%),
  warning-darkest:      mix($color-warning, #000, 25%),

  error: $color-error,
  error-lightest:   mix($color-error, #FFF, 25%),
  error-lighter:    mix($color-error, #FFF, 50%),
  error-light:      mix($color-error, #FFF, 87.5%),
  error-dark:       mix($color-error, #000, 87.5%),
  error-darker:     mix($color-error, #000, 50%),
  error-darkest:    mix($color-error, #000, 25%),
);

// A mixin that gives you an appropriate fallback for browsers that don't support CSS variables (basically just IE)
// Usage example:
//  @include color(background-color, 'accent-primary', #333);
// outputs:
//  background-color: #333;
//  background-color: var(--accent-primary, #333);
//
// Tip: You don't need to include a fallback variable for most cases – you only need to use it when your desired
//      IE fallback isn't the standard default value (e.g. setting text colour over an image background)

@mixin color($property, $color, $fallback: null) {
    @if $fallback {
        #{$property}: #{$fallback};
        #{$property}: var(--color-#{$color}, #{$fallback});
    } @else {
        #{$property}: map-deep-get($color-vars, $color);
        #{$property}: var(--color-#{$color}, map-get($color-vars, $color));
    }
}