@import "../gutenberg_block";


.gallery {
    @include breakpoint(S) {
        padding: 0;
    }
    .image-grid {
        .img-wrapper {
            display: inline-block;
            position: relative;
            width: 33%;
            min-width: 15rem;
            min-height: 15rem;
            @include breakpoint(M) {
                width: 50%;
            }
            @include breakpoint(S) {
                width: 100%;
                min-width: 20rem;
            }
            .dummy {
                margin-top: 100%;
            }
            .img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 1.5rem;
                @include breakpoint(M) {
                    padding: 0;
                }
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    .images-modal {
        display: none;
        position: fixed;
        z-index: 11;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        @include color(background-color, 'background');
        .modal-gallery {
            height: 100vh;
            .img-slide {
                height: 100vh;
                display: flex;
                .dummy {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                }
                img {
                    width: auto;
                    max-width: 90%;
                    height: auto;
                    margin: auto;
                    max-height: 100vh;
                    position: relative;
                    z-index: 2;
                }
            }
        }
        .slick-arrow {
            margin: 0;
            padding: 1rem;
            display: flex;
            right: 0;
            transform: translate(0);
        }
        .slick-next {
            transform: translateY(-100%);
        }
        .modal-gallery-counter {
            position: absolute;
            right: 1rem;
            top: 60%;
            z-index: 2;
        }
        .modal-exit {
            position: absolute;
            right: 1rem;
            top: 2rem;
            width: 2rem;
            z-index: 2;
            .exit {
                width: 2.3rem;
                height: 2rem;
                margin-right: 2rem;
                position: relative;
                span {
                    display: block;
                    width: 2.3rem;
                    height: 5px;
                    @include color(background-color, 'body');
                    position: absolute;
                    @extend %nav-transition;
                }
                span:nth-child(1n) {
                    left: 50%;
                    top: 50%;
                    transform:translate(-50%, -50%)rotate(-45deg);
                }
                span:nth-child(2n) {
                    left: 50%;
                    top: 50%;
                    transform:translate(-50%, -50%) rotate(45deg);
                }
            }
        }
        @include breakpoint(M) {
            .slick-arrow {
                top: 1.2rem;
                right: 8rem;
            }
            .slick-next {
                transform: translateY(0%);
                transform: translateX(100%);
            }
        }
        .modal-gallery-counter {
            top: 2.4rem;
            left: 2rem;
        }
    }
}

body.modal-active {
    overflow: hidden;
}