@import "../gutenberg_block";

.banner-regular {
    height: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: none;
    margin-top: 6rem;
    &.large {
        height: 100vh;
        min-height: 32rem;
    }
    .content {
        position: relative;
        z-index: 2;
        p.subtitle {
            @include size-XL;
        }
        svg {
            height: 20rem;
            color: #EBA70A;
            margin-bottom: -3rem;
        }
    }
    &.home {
        h1 {
            font-size: 96px;
            line-height: auto;
            margin-bottom: 2rem!important;
            color: #EBA70A;
            font-weight: 100;
            @include breakpoint(S) {
                font-size: 64px;
            }
        }
    }
    &.theme--image, &.theme--video {
        margin-top: 0;
    }
    .banner-images-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        .banner-image {
            width: 100%;
            height: 100%;
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}


