/* Object Fit
   ========================================================================== */

.object-fit {
    object-fit: cover;
    font-family: 'object-fit: cover;';

    &.contain {
        object-fit: contain;
        font-family: 'object-fit: contain;';
    }
}

/* Overflow
   ========================================================================== */

.overflow-hidden {
    overflow: hidden;
}

/* Images
   ========================================================================== */

.image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    @extend %transition;
}

.hover-effect {
    overflow: hidden;

    &:hover {
        .image {
            transform: scale(1.05);
        }
    }
}

img,
.wp-caption {
    max-width: 100%;
    height: auto;

    &.align-center,
    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
    &.alignleft {
        float: left;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    &.alignright {
        float: right;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

/* Responsive Video
   ========================================================================== */

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Background Repeat
   ========================================================================== */

.bg-repeat {
    background-repeat: repeat;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-repeat-x {
    background-repeat: repeat-x;
}

.bg-repeat-y {
    background-repeat: repeat-y;
}

.bg-repeat-round {
    background-repeat: round;
}

.bg-repeat-space {
    background-repeat: space;
}

/* Background Size
   ========================================================================== */

.bg-auto {
    background-size: auto;
}

.bg-cover {
    background-size: cover;
}

.bg-contain	{
    background-size: contain;
}

/* Position
   ========================================================================== */

.sticky {
    position: sticky;
    top: 0;

    @include breakpoint (XS) {
        position: relative;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}



/* Display
   ========================================================================== */

.hidden	{
    display: none;
}

.block {
    display: block;
    margin: 6rem 0;
}

.inline-block {
    display: inline-block;
}

.inline	{
    display: inline;
}

/* Hide
   ========================================================================== */

.hide-mobile {
    @include breakpoint(XS) {
        display: none !important;
    }
}

.hide-tablet {
    @include breakpoint(S) {
        display: none !important;
    }
}

.show-tablet {
    display: none;

    @include breakpoint(S) {
        display: block !important;
    }
}

.hide-l {
    @include breakpoint(L) {
        display: none !important;
    }
}

.hide-desktop {
    display: none !important;

    @include breakpoint(XS) {
        display: block !important;
    }
    &.flex {
        @include breakpoint(XS) {
            display: flex !important;
        }
    }
}

/* Flex
   ========================================================================== */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.items-baseline {
    align-items: baseline
}

.items-stretch {
    align-items: stretch
}

.self-auto {
    align-self: auto
}

.self-start {
    align-self: flex-start
}

.self-end {
    align-self: flex-end
}

.self-center {
    align-self: center
}

.self-stretch {
    align-self: stretch
}

.justify-start, .justify-left {
    justify-content: flex-start
}

.justify-end, .justify-right {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.content-center {
    align-content: center
}

.content-start {
    align-content: flex-start
}

.content-end {
    align-content: flex-end
}

.content-between {
    align-content: space-between
}

.content-around {
    align-content: space-around
}

.flex-1 {
    flex: 1 1 0%
}

.flex-auto {
    flex: 1 1 auto
}

.flex-initial {
    flex: 0 1 auto
}

.flex-none {
    flex: none
}

.flex-grow-0 {
    flex-grow: 0
}

.flex-grow {
    flex-grow: 1
}

.flex-shrink-0 {
    flex-shrink: 0
}

.flex-shrink {
    flex-shrink: 1
}

.order-1 {
    order: 1
}

.order-2 {
    order: 2
}

.order-3 {
    order: 3
}

.order-4 {
    order: 4
}

.order-5 {
    order: 5
}

.order-6 {
    order: 6
}

.order-first {
    order: -1
}

.order-last {
    order: 999
}

.order-none,
.order-normal {
    order: 0
}

/* md */

@include breakpoint(M) {

    .md\:flex {
        display: flex;
    }

    .md\:flex-col {
        flex-direction: column;
    }

    .md\:justify-end {
        justify-content: flex-end;
    }

    .md\:justify-center {
        justify-content: center;
    }

    .md\:flex-none {
        flex: none
    }

    .md\:flex-wrap {
        flex-wrap: wrap
    }

    .md\:flex-no-wrap {
        flex-wrap: nowrap;
    }

    .md\:items-center {
        align-items: center
    }
}

/* sm */

@include breakpoint(S) {

    .sm\:flex {
        display: flex;
    }

    .sm\:flex-none {
        flex: none
    }

    .sm\:flex-wrap {
        flex-wrap: wrap
    }

    .sm\:flex-no-wrap {
        flex-wrap: nowrap;
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:flex-col {
        flex-direction: column;
    }

    .sm\:justify-end {
        justify-content: flex-end;
    }

    .sm\:justify-center {
        justify-content: center;
    }

    .sm\:justify-start {
        justify-content: start;
    }

    .sm\:items-start {
        align-items: flex-start
    }

    .sm\:items-end {
        align-items: flex-end
    }

    .sm\:items-center {
        align-items: center
    }

    .sm\:items-baseline {
        align-items: baseline
    }

    .sm\:items-stretch {
        align-items: stretch
    }

    .sm\:self-auto {
        align-self: auto
    }

    .sm\:self-start {
        align-self: flex-start
    }

    .sm\:self-end {
        align-self: flex-end
    }

    .sm\:self-center {
        align-self: center
    }

    .sm\:self-stretch {
        align-self: stretch
    }

    // orders

    .sm\:order-1 {
        order: 1
    }

    .sm\:order-2 {
        order: 2
    }

    .sm\:order-3 {
        order: 3
    }

    .sm\:order-4 {
        order: 4
    }

    .sm\:order-5 {
        order: 5
    }

    .sm\:order-6 {
        order: 6
    }

    .sm\:order-first {
        order: -1
    }

    .sm\:order-last {
        order: 999
    }

    .sm\:order-none,
    .sm\:order-normal {
        order: 0
    }
}

/* xs */

@include breakpoint(XS) {

    .xs\:flex {
        display: flex !important;
    }

    .xs\:flex-none {
        flex: none
    }

    .xs\:flex-row {
        flex-direction: row
    }

    .xs\:flex-row-reverse {
        flex-direction: row-reverse
    }

    .xs\:flex-col {
        flex-direction: column
    }

    .xs\:flex-col-reverse {
        flex-direction: column-reverse
    }

    .xs\:justify-end {
        justify-content: flex-end;
    }

    .xs\:justify-center {
        justify-content: center;
    }

    .xs\:justify-between {
        justify-content: space-between;
    }

    .xs\:justify-start {
        justify-content: start;
    }

    .xs\:items-start {
        align-items: flex-start
    }

    .xs\:items-end {
        align-items: flex-end
    }

    .xs\:items-center {
        align-items: center
    }

    .xs\:items-baseline {
        align-items: baseline
    }

    .xs\:items-stretch {
        align-items: stretch
    }

    .xs\:flex-wrap {
        flex-wrap: wrap
    }

    .xs\:flex-no-wrap {
        flex-wrap: nowrap;
    }

    // flex

    .xs\:flex-1 {
        flex: 1 1 0%
    }

    .xs\:flex-auto {
        flex: 1 1 auto
    }

    .xs\:flex-initial {
        flex: 0 1 auto
    }

    .xs\:flex-none {
        flex: none
    }

    .xs\:flex-grow-0 {
        flex-grow: 0
    }

    .xs\:flex-grow {
        flex-grow: 1
    }

    .xs\:flex-shrink-0 {
        flex-shrink: 0
    }

    .xs\:flex-shrink {
        flex-shrink: 1
    }

    // orders

    .xs\:order-1 {
        order: 1
    }

    .xs\:order-2 {
        order: 2
    }

    .xs\:order-3 {
        order: 3
    }

    .xs\:order-4 {
        order: 4
    }

    .xs\:order-5 {
        order: 5
    }

    .xs\:order-6 {
        order: 6
    }

    .xs\:order-first {
        order: -1
    }

    .xs\:order-last {
        order: 999
    }

    .xs\:order-none,
    .xs\:order-normal {
        order: 0
    }

}

/* xxs */

@include breakpoint(XXS) {

    .xxs\:flex {
        display: flex;
    }

    .xxs\:flex {
        display: flex;
    }

    .xxs\:justify-end {
        justify-content: flex-end;
    }

    .xxs\:flex-wrap {
        flex-wrap: wrap
    }

    // orders

    .xxs\:order-1 {
        order: 1
    }

    .xxs\:order-2 {
        order: 2
    }

    .xxs\:order-3 {
        order: 3
    }

    .xxs\:order-4 {
        order: 4
    }

    .xxs\:order-5 {
        order: 5
    }

    .xxs\:order-6 {
        order: 6
    }

    .xxs\:order-first {
        order: -1
    }

    .xxs\:order-last {
        order: 999
    }

    .xxs\:order-none,
    .xxs\:order-normal {
        order: 0
    }

}

/* List Styles
   ========================================================================== */

ul.list-reset {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;

        &:before {
            display: none;
        }
    }
}


/* Text Align
   ========================================================================== */

.text {

    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

/* sm */

@include breakpoint(S) {

    .sm\:text {

        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }
}

/* xs */

@include breakpoint(XS) {

    .xs\:text {

        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }
}

/* xxs */

@include breakpoint(XXS) {

    .xxs\:text {

        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }
}

/* Margins
   ========================================================================== */

/* right left */

   .mx-auto {
       margin-right: auto;
       margin-left: auto;
   }

/* top */

.mt {

    &-0	{
        margin-top: 0;
    }

    &-1	{
        margin-top: 0.25rem;
    }

    &-2	{
        margin-top: 0.5rem;
    }

    &-3	{
        margin-top: 0.75rem;
    }

    &-4	{
        margin-top: 1rem;
    }

    &-5	{
        margin-top: 1.25rem;
    }

    &-6	{
        margin-top: 1.5rem;
    }

    &-8	{
        margin-top: 2rem;
    }

    &-10 {
       margin-top: 2.5rem;
    }

    &-12 {
       margin-top: 3rem;
    }

    &-14 {
       margin-top: 3.5rem;
    }

    &-16 {
       margin-top: 4rem;
    }

    &-20 {
       margin-top: 5rem;
    }

    &-24 {
       margin-top: 6rem;
    }

    &-32 {
       margin-top: 8rem;
    }

    &-40 {
       margin-top: 10rem;
    }

    &-48 {
       margin-top: 12rem;
    }

    &-56 {
       margin-top: 14rem;
    }

    &-64 {
       margin-top: 16rem;
    }
}

/* md */

@include breakpoint(M) {

    /* top */

    .md\:mt {

        &-0	{
            margin-top: 0;
        }

        &-1	{
            margin-top: 0.25rem;
        }

        &-2	{
            margin-top: 0.5rem;
        }

        &-3	{
            margin-top: 0.75rem;
        }

        &-4	{
            margin-top: 1rem;
        }

        &-5	{
            margin-top: 1.25rem;
        }

        &-6	{
            margin-top: 1.5rem;
        }

        &-8	{
            margin-top: 2rem;
        }

        &-10 {
           margin-top: 2.5rem;
        }

        &-12 {
           margin-top: 3rem;
        }

        &-16 {
           margin-top: 4rem;
        }

        &-20 {
           margin-top: 5rem;
        }

        &-24 {
           margin-top: 6rem;
        }

        &-32 {
           margin-top: 8rem;
        }

        &-40 {
           margin-top: 10rem;
        }

        &-48 {
           margin-top: 12rem;
        }

        &-56 {
           margin-top: 14rem;
        }

        &-64 {
           margin-top: 16rem;
        }
    }
}

/* sm */

@include breakpoint(S) {

    /* top */

    .sm\:mt {

        &-0	{
            margin-top: 0;
        }

        &-1	{
            margin-top: 0.25rem;
        }

        &-2	{
            margin-top: 0.5rem;
        }

        &-3	{
            margin-top: 0.75rem;
        }

        &-4	{
            margin-top: 1rem;
        }

        &-5	{
            margin-top: 1.25rem;
        }

        &-6	{
            margin-top: 1.5rem;
        }

        &-8	{
            margin-top: 2rem;
        }

        &-10 {
           margin-top: 2.5rem;
        }

        &-12 {
           margin-top: 3rem;
        }

        &-16 {
           margin-top: 4rem;
        }

        &-20 {
           margin-top: 5rem;
        }

        &-24 {
           margin-top: 6rem;
        }

        &-32 {
           margin-top: 8rem;
        }

        &-40 {
           margin-top: 10rem;
        }

        &-48 {
           margin-top: 12rem;
        }

        &-56 {
           margin-top: 14rem;
        }

        &-64 {
           margin-top: 16rem;
        }
    }
}

/* xs */

@include breakpoint(XS) {

    /* top */

    .xs\:mt {

        &-0	{
            margin-top: 0!important;
        }

        &-1	{
            margin-top: 0.25rem!important;
        }

        &-2	{
            margin-top: 0.5rem!important;
        }

        &-3	{
            margin-top: 0.75rem!important;
        }

        &-4	{
            margin-top: 1rem!important;
        }

        &-5	{
            margin-top: 1.25rem!important;
        }

        &-6	{
            margin-top: 1.5rem!important;
        }

        &-8	{
            margin-top: 2rem!important;
        }

        &-10 {
           margin-top: 2.5rem!important;
        }

        &-12 {
           margin-top: 3rem!important;
        }

        &-16 {
           margin-top: 4rem!important;
        }

        &-20 {
           margin-top: 5rem!important;
        }

        &-24 {
           margin-top: 6rem!important;
        }

        &-32 {
           margin-top: 8rem!important;
        }

        &-40 {
           margin-top: 10rem!important;
        }

        &-48 {
           margin-top: 12rem!important;
        }

        &-56 {
           margin-top: 14rem!important;
        }

        &-64 {
           margin-top: 16rem!important;
        }
    }
}

/* bottom */

.mb {

    &-0	{
        margin-bottom: 0!important;
    }

    &-1	{
        margin-bottom: 0.25rem!important;
    }

    &-2	{
        margin-bottom: 0.5rem!important;
    }

    &-3	{
        margin-bottom: 0.75rem!important;
    }

    &-4	{
        margin-bottom: 1rem!important;
    }

    &-5	{
        margin-bottom: 1.25rem!important;
    }

    &-6	{
        margin-bottom: 1.5rem!important;
    }

    &-8	{
        margin-bottom: 2rem!important;
    }

    &-10 {
       margin-bottom: 2.5rem!important;
    }

    &-12 {
       margin-bottom: 3rem!important;
    }

    &-14 {
       margin-bottom: 3.5rem!important;
    }

    &-16 {
       margin-bottom: 4rem!important;
    }

    &-20 {
       margin-bottom: 5rem!important;
    }

    &-24 {
       margin-bottom: 6rem!important;
    }

    &-32 {
       margin-bottom: 8rem!important;
    }

    &-40 {
       margin-bottom: 10rem!important;
    }

    &-48 {
       margin-bottom: 12rem!important;
    }

    &-56 {
       margin-bottom: 14rem!important;
    }

    &-64 {
       margin-bottom: 16rem!important;
    }
}

/* md */

@include breakpoint(M) {

    /* bottom */

    .md\:mb {

        &-0	{
            margin-bottom: 0;
        }

        &-1	{
            margin-bottom: 0.25rem;
        }

        &-2	{
            margin-bottom: 0.5rem;
        }

        &-3	{
            margin-bottom: 0.75rem;
        }

        &-4	{
            margin-bottom: 1rem;
        }

        &-5	{
            margin-bottom: 1.25rem;
        }

        &-6	{
            margin-bottom: 1.5rem;
        }

        &-8	{
            margin-bottom: 2rem;
        }

        &-10 {
           margin-bottom: 2.5rem;
        }

        &-12 {
           margin-bottom: 3rem;
        }

        &-16 {
           margin-bottom: 4rem;
        }

        &-20 {
           margin-bottom: 5rem;
        }

        &-24 {
           margin-bottom: 6rem;
        }

        &-32 {
           margin-bottom: 8rem;
        }

        &-40 {
           margin-bottom: 10rem;
        }

        &-48 {
           margin-bottom: 12rem;
        }

        &-56 {
           margin-bottom: 14rem;
        }

        &-64 {
           margin-bottom: 16rem;
        }
    }
}

/* sm */

@include breakpoint(S) {

    /* bottom */

    .sm\:mb {

        &-0	{
            margin-bottom: 0;
        }

        &-1	{
            margin-bottom: 0.25rem;
        }

        &-2	{
            margin-bottom: 0.5rem;
        }

        &-3	{
            margin-bottom: 0.75rem;
        }

        &-4	{
            margin-bottom: 1rem;
        }

        &-5	{
            margin-bottom: 1.25rem;
        }

        &-6	{
            margin-bottom: 1.5rem;
        }

        &-8	{
            margin-bottom: 2rem;
        }

        &-10 {
           margin-bottom: 2.5rem;
        }

        &-12 {
           margin-bottom: 3rem;
        }

        &-16 {
           margin-bottom: 4rem;
        }

        &-20 {
           margin-bottom: 5rem;
        }

        &-24 {
           margin-bottom: 6rem;
        }

        &-32 {
           margin-bottom: 8rem;
        }

        &-40 {
           margin-bottom: 10rem;
        }

        &-48 {
           margin-bottom: 12rem;
        }

        &-56 {
           margin-bottom: 14rem;
        }

        &-64 {
           margin-bottom: 16rem;
        }
    }
}

/* xs */

@include breakpoint(XS) {

    /* bottom */

    .xs\:mb {

        &-0	{
            margin-bottom: 0;
        }

        &-1	{
            margin-bottom: 0.25rem;
        }

        &-2	{
            margin-bottom: 0.5rem;
        }

        &-3	{
            margin-bottom: 0.75rem;
        }

        &-4	{
            margin-bottom: 1rem;
        }

        &-5	{
            margin-bottom: 1.25rem;
        }

        &-6	{
            margin-bottom: 1.5rem;
        }

        &-8	{
            margin-bottom: 2rem;
        }

        &-10 {
           margin-bottom: 2.5rem;
        }

        &-12 {
           margin-bottom: 3rem;
        }

        &-16 {
           margin-bottom: 4rem;
        }

        &-20 {
           margin-bottom: 5rem;
        }

        &-24 {
           margin-bottom: 6rem;
        }

        &-32 {
           margin-bottom: 8rem;
        }

        &-40 {
           margin-bottom: 10rem;
        }

        &-48 {
           margin-bottom: 12rem;
        }

        &-56 {
           margin-bottom: 14rem;
        }

        &-64 {
           margin-bottom: 16rem;
        }
    }
}

/* Padding
   ========================================================================== */

/* top */

.pt {

    &-0	{
        padding-top: 0;
    }

    &-1	{
        padding-top: 0.25rem;
    }

    &-2	{
        padding-top: 0.5rem;
    }

    &-3	{
        padding-top: 0.75rem;
    }

    &-4	{
        padding-top: 1rem;
    }

    &-5	{
        padding-top: 1.25rem;
    }

    &-6	{
        padding-top: 1.5rem;
    }

    &-8	{
        padding-top: 2rem;
    }

    &-10 {
       padding-top: 2.5rem;
    }

    &-12 {
       padding-top: 3rem;
    }

    &-16 {
       padding-top: 4rem;
    }

    &-20 {
       padding-top: 5rem;
    }

    &-24 {
       padding-top: 6rem;
    }

    &-32 {
       padding-top: 8rem;
    }

    &-40 {
       padding-top: 10rem;
    }

    &-48 {
       padding-top: 12rem;
    }

    &-56 {
       padding-top: 14rem;
    }

    &-64 {
       padding-top: 16rem;
    }
}

/* md */

@include breakpoint(M) {

    /* top */

    .md\:pt {

        &-0	{
            padding-top: 0;
        }

        &-1	{
            padding-top: 0.25rem;
        }

        &-2	{
            padding-top: 0.5rem;
        }

        &-3	{
            padding-top: 0.75rem;
        }

        &-4	{
            padding-top: 1rem;
        }

        &-5	{
            padding-top: 1.25rem;
        }

        &-6	{
            padding-top: 1.5rem;
        }

        &-8	{
            padding-top: 2rem;
        }

        &-10 {
           padding-top: 2.5rem;
        }

        &-12 {
           padding-top: 3rem;
        }

        &-16 {
           padding-top: 4rem;
        }

        &-20 {
           padding-top: 5rem;
        }

        &-24 {
           padding-top: 6rem;
        }

        &-32 {
           padding-top: 8rem;
        }

        &-40 {
           padding-top: 10rem;
        }

        &-48 {
           padding-top: 12rem;
        }

        &-56 {
           padding-top: 14rem;
        }

        &-64 {
           padding-top: 16rem;
        }
    }
}

/* sm */

@include breakpoint(S) {

    /* top */

    .sm\:pt {

        &-0	{
            padding-top: 0;
        }

        &-1	{
            padding-top: 0.25rem;
        }

        &-2	{
            padding-top: 0.5rem;
        }

        &-3	{
            padding-top: 0.75rem;
        }

        &-4	{
            padding-top: 1rem;
        }

        &-5	{
            padding-top: 1.25rem;
        }

        &-6	{
            padding-top: 1.5rem;
        }

        &-8	{
            padding-top: 2rem;
        }

        &-10 {
           padding-top: 2.5rem;
        }

        &-12 {
           padding-top: 3rem;
        }

        &-16 {
           padding-top: 4rem;
        }

        &-20 {
           padding-top: 5rem;
        }

        &-24 {
           padding-top: 6rem;
        }

        &-32 {
           padding-top: 8rem;
        }

        &-40 {
           padding-top: 10rem;
        }

        &-48 {
           padding-top: 12rem;
        }

        &-56 {
           padding-top: 14rem;
        }

        &-64 {
           padding-top: 16rem;
        }
    }
}

/* xs */

@include breakpoint(XS) {

    /* top */

    .xs\:pt {

        &-0	{
            padding-top: 0;
        }

        &-1	{
            padding-top: 0.25rem;
        }

        &-2	{
            padding-top: 0.5rem;
        }

        &-3	{
            padding-top: 0.75rem;
        }

        &-4	{
            padding-top: 1rem;
        }

        &-5	{
            padding-top: 1.25rem;
        }

        &-6	{
            padding-top: 1.5rem;
        }

        &-8	{
            padding-top: 2rem;
        }

        &-10 {
           padding-top: 2.5rem;
        }

        &-12 {
           padding-top: 3rem;
        }

        &-16 {
           padding-top: 4rem;
        }

        &-20 {
           padding-top: 5rem;
        }

        &-24 {
           padding-top: 6rem;
        }

        &-32 {
           padding-top: 8rem;
        }

        &-40 {
           padding-top: 10rem;
        }

        &-48 {
           padding-top: 12rem;
        }

        &-56 {
           padding-top: 14rem;
        }

        &-64 {
           padding-top: 16rem;
        }
    }
}

/* bottom */

.pb {

    &-0	{
        padding-bottom: 0;
    }

    &-1	{
        padding-bottom: 0.25rem;
    }

    &-2	{
        padding-bottom: 0.5rem;
    }

    &-3	{
        padding-bottom: 0.75rem;
    }

    &-4	{
        padding-bottom: 1rem;
    }

    &-5	{
        padding-bottom: 1.25rem;
    }

    &-6	{
        padding-bottom: 1.5rem;
    }

    &-8	{
        padding-bottom: 2rem;
    }

    &-10 {
       padding-bottom: 2.5rem;
    }

    &-12 {
       padding-bottom: 3rem;
    }

    &-16 {
       padding-bottom: 4rem;
    }

    &-20 {
       padding-bottom: 5rem;
    }

    &-24 {
       padding-bottom: 6rem;
    }

    &-32 {
       padding-bottom: 8rem;
    }

    &-40 {
       padding-bottom: 10rem;
    }

    &-48 {
       padding-bottom: 12rem;
    }

    &-56 {
       padding-bottom: 14rem;
    }

    &-64 {
       padding-bottom: 16rem;
    }
}

/* md */

@include breakpoint(M) {

    /* bottom */

    .md\:pb {

        &-0	{
            padding-bottom: 0;
        }

        &-1	{
            padding-bottom: 0.25rem;
        }

        &-2	{
            padding-bottom: 0.5rem;
        }

        &-3	{
            padding-bottom: 0.75rem;
        }

        &-4	{
            padding-bottom: 1rem;
        }

        &-5	{
            padding-bottom: 1.25rem;
        }

        &-6	{
            padding-bottom: 1.5rem;
        }

        &-8	{
            padding-bottom: 2rem;
        }

        &-10 {
           padding-bottom: 2.5rem;
        }

        &-12 {
           padding-bottom: 3rem;
        }

        &-16 {
           padding-bottom: 4rem;
        }

        &-20 {
           padding-bottom: 5rem;
        }

        &-24 {
           padding-bottom: 6rem;
        }

        &-32 {
           padding-bottom: 8rem;
        }

        &-40 {
           padding-bottom: 10rem;
        }

        &-48 {
           padding-bottom: 12rem;
        }

        &-56 {
           padding-bottom: 14rem;
        }

        &-64 {
           padding-bottom: 16rem;
        }
    }
}

/* sm */

@include breakpoint(S) {

    /* bottom */

    .sm\:pb {

        &-0	{
            padding-bottom: 0;
        }

        &-1	{
            padding-bottom: 0.25rem;
        }

        &-2	{
            padding-bottom: 0.5rem;
        }

        &-3	{
            padding-bottom: 0.75rem;
        }

        &-4	{
            padding-bottom: 1rem;
        }

        &-5	{
            padding-bottom: 1.25rem;
        }

        &-6	{
            padding-bottom: 1.5rem;
        }

        &-8	{
            padding-bottom: 2rem;
        }

        &-10 {
           padding-bottom: 2.5rem;
        }

        &-12 {
           padding-bottom: 3rem;
        }

        &-16 {
           padding-bottom: 4rem;
        }

        &-20 {
           padding-bottom: 5rem;
        }

        &-24 {
           padding-bottom: 6rem;
        }

        &-32 {
           padding-bottom: 8rem;
        }

        &-40 {
           padding-bottom: 10rem;
        }

        &-48 {
           padding-bottom: 12rem;
        }

        &-56 {
           padding-bottom: 14rem;
        }

        &-64 {
           padding-bottom: 16rem;
        }
    }
}

/* xs */

@include breakpoint(XS) {

    /* bottom */

    .xs\:pb {

        &-0	{
            padding-bottom: 0;
        }

        &-1	{
            padding-bottom: 0.25rem;
        }

        &-2	{
            padding-bottom: 0.5rem;
        }

        &-3	{
            padding-bottom: 0.75rem;
        }

        &-4	{
            padding-bottom: 1rem;
        }

        &-5	{
            padding-bottom: 1.25rem;
        }

        &-6	{
            padding-bottom: 1.5rem;
        }

        &-8	{
            padding-bottom: 2rem;
        }

        &-10 {
           padding-bottom: 2.5rem;
        }

        &-12 {
           padding-bottom: 3rem;
        }

        &-16 {
           padding-bottom: 4rem;
        }

        &-20 {
           padding-bottom: 5rem;
        }

        &-24 {
           padding-bottom: 6rem;
        }

        &-32 {
           padding-bottom: 8rem;
        }

        &-40 {
           padding-bottom: 10rem;
        }

        &-48 {
           padding-bottom: 12rem;
        }

        &-56 {
           padding-bottom: 14rem;
        }

        &-64 {
           padding-bottom: 16rem;
        }
    }
}

/* Heights
   ========================================================================== */

.h-4 {
    height: 4em;
}

.h-full {
    height: 100%;
}

/* Text Transform
   ========================================================================== */

.uppercase {
    text-transform: uppercase;
}

.letter-spacing {
    letter-spacing: 0.0625em;
}

/* Font size
   ========================================================================== */

.size-xs {
    @include size-XS;
}

.size-s {
    @include size-S;
}

.size-m {
    @include size-M;
}

.size-l {
    @include size-L;
}

.size-xl {
    @include size-XL;
}

.size-2xl {
    @include size-2XL;
}

.size-3xl {
    @include size-3XL;
}

@include breakpoint(M) {

    .md\:size-m {
        @include size-M;
    }
    
    .md\:size-s {
        @include size-S;
    }
    
    .md\:size-xs {
        @include size-XS;
    }

}

@include breakpoint(XS) {

    .xs\:size-xs {
        @include size-XS;
    }
    
    .xs\:size-s {
        @include size-S;
    }
    
    .xs\:size-m {
        @include size-M;
    }
    
    .xs\:size-l {
        @include size-L;
    }
    
    .xs\:size-xl {
        @include size-XL;
    }
    
    .xs\:size-2xl {
        @include size-2XL;
    }
    
    .xs\:size-3xl {
        @include size-3XL;
    }
}

/* Font Weights
   ========================================================================== */

.font-hairline {
    font-weight: 100;
}

.font-thin {
    font-weight: 200;
}

.font-light	{
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold	{
    font-weight: 800;
}

.font-black	{
    font-weight: 900;
}

@include breakpoint(XS) {

    .xs\:font-bold {
        font-weight: 700;
    }
    
}

/* Font Families
   ========================================================================== */

.font-primary {
   font-family: $font-stack-primary;
}

.font-secondary,
.font-headings {
   font-family: $font-stack-headings;
}


/* Colors
   ========================================================================== */

.color {
    &-body {
        @include color(color, 'body');

        &-50 {
            @include color(color, 'body-50');
        }
    }
    &-accent {
        @include color(color, 'accent-primary');
    }
}

.bg-body {
    @include color(background, 'body');
}
.bg-bg {
    @include color(background, 'background');
}
.bg-bg-alt {
    @include color(background, 'background-alt');
}
.bg-accent {
    @include color(background, 'accent-primary');
}
.bg-accent-reverse {
    @include color(background, 'accent-reverse');
}
/* update these and add .bg- */

/* Box Shadow
   ========================================================================== */

.shadow {
    box-shadow: 0px 4px 9px rgba($color-body, 0.1);
}

/* sm */

@include breakpoint(S) {

    .sm\:shadow	{
        box-shadow: 0px 4px 9px rgba($color-body, 0.1);
    }
}

/* md */

@include breakpoint(M) {

    .md\:hidden	{
        display: none;
    }

    .md\:block {
        display: block;
    }

    .md\:inline-block {
        display: inline-block;
    }

    .md\:inline	{
        display: inline;
    }

}

/* sm */

@include breakpoint(S) {

    .sm\:hidden	{
        display: none;
    }

    .sm\:block {
        display: block;
    }

    .sm\:inline-block {
        display: inline-block;
    }

    .sm\:inline	{
        display: inline;
    }

}

/* xs */

@include breakpoint(XS) {

    .xs\:hidden	{
        display: none;
    }

    .xs\:block {
        display: block;
    }

    .xs\:inline-block {
        display: inline-block;
    }

    .xs\:inline	{
        display: inline;
    }

}

/* xxs */

@include breakpoint(XXS) {

    .xxs\:hidden	{
        display: none;
    }

    .xxs\:block {
        display: block;
    }

    .xxs\:inline-block {
        display: inline-block;
    }

    .xxs\:inline	{
        display: inline;
    }

}

/* Spacing
   ========================================================================== */

.spacing {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint(XS) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &--top {
        padding-top: 3rem;

        @include breakpoint(XS) {
            padding-top: 2rem;
        }
    }

    &--bottom {
        padding-bottom: 3rem;

        @include breakpoint(XS) {
            padding-bottom: 2rem;
        }
    }

    &--reset-mob {
        @include breakpoint(XS) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

/* Filters
   ========================================================================== */

.blur {
    filter: blur(10px);
}

/* Letter Spacing
   ========================================================================== */

.tracking-tighter {
    letter-spacing: -0.05em;
}

.tracking-tight {
    letter-spacing: -0.025em;
}

.tracking-normal {
    letter-spacing: 0;
}

.tracking-wide {
    letter-spacing: 0.125em;
}

.tracking-wider	 {
    letter-spacing: 0.2em;
}

.tracking-widest {
    letter-spacing: 0.3em;
}

/* Line Height
   ========================================================================== */

.leading-none {
    line-height: 1 !important;
}

.leading-tight {
    line-height: 1.25 !important;
}

.leading-snug {
    line-height: 1.375 !important;
}

.leading-normal {
    line-height: 1.5 !important;
}

.leading-relaxed {
    line-height: 1.625 !important;
}

.leading-loose {
    line-height: 2 !important;
}

.leading-3 {
    line-height: .75rem !important;
}

.leading-4 {
    line-height: 1rem !important;
}

.leading-5 {
    line-height: 1.25rem !important;
}

.leading-6 {
    line-height: 1.5rem !important;
}

.leading-7 {
    line-height: 1.75rem !important;
}

.leading-8 {
    line-height: 2rem !important;
}

.leading-9 {
    line-height: 2.25rem !important;
}

.leading-10 {
    line-height: 2.5rem !important;
}

/* Z-Index
   ========================================================================== */

.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-40 {
    z-index: 40;
}

.z-50 {
    z-index: 50;
}

.z-auto {
    z-index: auto;
}