@import "../gutenberg_block";

.banner-with-form {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    max-width: none;
    margin-top: 6rem;
    overflow: hidden;
    h1 {
        margin-top: 0;
    }
    &.large {
        min-height: 32rem;
    }
    .content {
        position: relative;
        z-index: 2;
        p.subtitle {
            @include size-XL;
        }
        svg {
            height: 20rem;
            color: #EBA70A;
            margin-bottom: -3rem;
        }
    }
    &.home {
        h1 {
            font-size: 96px;
            line-height: auto;
            margin-bottom: 2rem!important;
            color: #EBA70A;
            font-weight: 100;
            @include breakpoint(S) {
                font-size: 64px;
            }
        }
    }
    &.theme--image, &.theme--video {
        margin-top: 0;
    }
    .background {
        position: absolute;
        left: -140%;
        top: 0;
        height: 100vh;
        width: 200%;
        @include color(background-color, 'accent-inverse');
        transform: skew(-20deg);
    }
    .col-1 {
        height: auto;
        margin-top: 8rem;
        width: 40%;
        min-width: 32rem;
        svg {
            width: 100%;
            padding: 0 5rem;
            margin-bottom: 0rem;
        }
        .contact-form {
            @include color(background-color, 'background');
            padding:  2rem;
            margin-top: 3rem;
            p {
                text-align: start;
                label {
                    font-weight: 700;
                }
            }
            .wpcf7-submit {
                width: 100%;
            }
        }
        @include breakpoint(M) {
            min-width: 100%;
            margin-top: 4rem;
            padding: 0 4rem;
        }
        @include breakpoint(S) {
            padding: 0 0rem;
        }
    }
    .col-2 {
        flex: 1 1 20%;
        min-width: 20rem;
        max-width: 42rem;
        width: 20%;
        z-index: 2;
        margin-top: calc(3.33rem + 100vh);
        padding-left: 4rem;
        @include breakpoint(M) {
            min-width: 100%;
            margin-top: 4rem;
            padding: 0 4rem;
        }
    }
    .banner-images-wrapper {
        width: 60%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        .banner-image {
            height: 100%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    &::before {
        opacity: 0;
    }
}